@charset "UTF-8";
/* CSS Document */

<!--
body {
	font: 100%/1.4 Helvetica, sans-serif;
	background-color: #000000;
	margin: 0;
	padding: 0;
	 color: #5f5f5f;
	font-size:12px;
	background-image:url(../images/admin-bg.png);
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0px;
	margin: 0;
}

.nav{
	margin-top:50px;	
	list-style-type:none;
	
}
.nav li{
	padding:12px;
   	
}


#user-nav-top{
	
  color:#ffffff;
  text-shadow:5px 5px 5px rgba(0,0,0,0.7);
  
  	margin:auto; padding:5px; 
	
	width:20%; float:right; height:48px;

}

#topContainer{
 /*margin:10px	*/
 background-image:url(../images/top-nav-bg.jpg);height:48px;
}

#user-nav-top img{
	vertical-align:middle;
	
}

#logo-nav-top
{

 width:70%; float:left; height:48px;

 
}
#logo-nav-top img
{
   margin-top:10px; 
   margin-left:20px;	
}


#side-title {
 font-size:20px;
 font-weight:normal;
 color:#4c4f56;
 padding:0;
 margin:0;
 margin-left:10px;

}

#side-instruction
{
	color:#2c2f35;
	margin-left:10px;
	
}

#side-more{
  margin-bottom:5px;	
	
}

#side-more a:link, #side-more a:visited{

  color:#999da9;	
  text-decoration:none;
	margin-left:10px;
}
#side-more a:hover{
	margin-left:10px;
  text-decoration:underline;	
}

.side-menu-list{
background: #fafafa;
background: -moz-linear-gradient(top,  #fafafa 0%, #eeeeee 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee));
background: -webkit-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
background: -o-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
background: -ms-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
background: linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0);
	
list-style-type:none; 
height:50px;
/*background-image:url(img/side-hover-bg.png); */
vertical-align:middle; 
line-height: 50px;
border-bottom:1px solid #CCC;
font-size:14px;
font-weight:bold;
padding-left:10px;

}
.side-menu-list img{
-moz-border-radius: 0px 8px 8px 0px;
     border-radius: 0px 8px 8px 0px;
}

.side-menu-list:hover{
  background: #fbfbfb;
background: -moz-linear-gradient(top,  #fbfbfb 0%, #e8e8e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#e8e8e8));
background: -webkit-linear-gradient(top,  #fbfbfb 0%,#e8e8e8 100%);
background: -o-linear-gradient(top,  #fbfbfb 0%,#e8e8e8 100%);
background: -ms-linear-gradient(top,  #fbfbfb 0%,#e8e8e8 100%);
background: linear-gradient(top,  #fbfbfb 0%,#e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e8e8e8',GradientType=0 );
	 cursor:pointer;
	 
	 color:#2B6893;
	 	
	
}

.side-menu-list-selected{
  	/*background-image:url(../images/side-selected-bg.png);*/

	 cursor:pointer;
	
	      color: #A64949;
}



.side-menu-list a:link, .side-menu-list a:visited{
   color:#333333;
   text-decoration:none;
	
}

.side-menu-list a:hover{
   color:#fff;
   text-decoration:none;
	
}




.side-menu-list img{

vertical-align:middle; margin-right:5px;
padding-right:20px;
padding-left:10px;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

a {
 cursor:pointer;	
	
}

/* ~~ this fixed width container surrounds all other divs~~ */
.container {
	width: 100%;
	 background-image:url(../images/admin-bg.png);
	 background-repeat:repeat-x;
	/*min-height:700px;*/
	/*margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	/*overflow: hidden; /* this declaration makes the .container understand where the floated columns within ends and contain them */
}
.sidebar1 {
	float: left;
	width: 54px;
	height:700px;
	background-image:url(../images/icon-bg.png);
	padding-bottom: 10px;
	 -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	z-index: 4 ! important;
	position: relative;

}
.content {
    
	padding: 10px 0;
	width: 600px;
	float: left;
	position:relative;
	min-height:300px;
}

#sidebarWarpper{
padding-right:10px;  padding-bottom:10px; overflow:hidden; float:left;z-index:1;	
width: 230px;
margin-top: 15px;
}


.sub-menu-top
{
  background-image:url(../images/contentTop.png);	
	
}

.sidebar2 {
	
	float: left;
	height:100%;
	width: 200px;
	background-image:url(../images/icon2-bg.png);
    -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	padding: 10px 0;
	/*left: -5px;*/ 
	position: relative; 
	z-index: 0;
	-moz-border-radius: 0px 8px 8px 0px;
     border-radius: 0px 8px 8px 0px;
	 
	 padding-left:0px;
	 min-height:300px;
	  left:-200px
}


/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the overflow:hidden on the .container is removed */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.float-left{	
	float:left;
}
.float-right{	
	float:right;
}
-->
#contentWrapper{
	
padding-right:10px;  padding-bottom:10px;  float:left;z-index:1;	
	
}



.content h1{
	font-size:20px;
	font-weight:normal;
	margin:0;
	padding:0;
	
}
#content-nav{
   
  color: #636363;
background: #f8f8f8;
background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );

   /*background-image:url(../images/content-nav-bg.png);
   
	-moz-border-radius: 8px 8px 8px 8px;
     border-radius: 8px 8px 8px 8px;
	border-top:#757679 solid 1px;
	border-left: #3f4045 solid 1px;
	border-right:#3f4045 solid 1px;*/
	/*padding-left:10px;*/
	padding-right:10px;
	/*margin-bottom:10px;*/
   	height:38px;	
	border: 1px solid #D5D5D5;
}

.content-nav-list{
 display:inline;
 line-height:40px;
 /*padding-left: 20px;
 padding-right:20px*/
 padding:13px;
 padding-left:20px;
 padding-right:20px;

  border-right: 1px solid #D5D5D5;
}

.content-nav-list:hover, .content-nav-list-selected{
   /*background-color:#F00 !important;	*/
   /*background-image:url(../images/content-nav-selected.png);*/
   
   color: #797979; background: #f9f9f9; box-shadow: 0 -1px 0 #EAEAEA inset;
   background-repeat:no-repeat;
   background-position:center;
   cursor:pointer;
      
}

#content-nav a:link, #content-nav a:visited{
 color:#FFF;
 text-decoration:none;	
	
}

#content-nav a:hover{
   color:#CCC;	
}

#content-table{
	
	background: #f9f9f9;
	padding:10px;
	box-shadow: 0 -1px 0 #EAEAEA inset;
	border: 1px solid #D5D5D5;
	border-top:0px;
}

#content-desc{
  
  margin:10px;	
  margin-left:0px;
}

.myButtonLink1 {
	display: block;
	width: 30px;
	height: 33px;
	background: url('../images/icon1-group.png');
	background-position:bottom;
	text-indent: -99999px;
}

.myButtonLink2 {
	display: block;
	width: 30px;
	height: 33px;
	background: url('../images/icon2-group.png');
	background-position:bottom;
	text-indent: -99999px;
}

.myButtonLink3 {
	display: block;
	width: 30px;
	height: 33px;
	background: url('../images/icon3-group.png');
	background-position:bottom;
	text-indent: -99999px;
}
.myButtonLink4 {
	display: block;
	width: 30px;
	height: 33px;
	background: url('../images/icon4-group.png');
	background-position:bottom;
	text-indent: -99999px;
}

.myButtonLink5 {
	display: block;
	width: 30px;
	height: 33px;
	background: url('../images/icon5-group.png');
	background-position:bottom;
	text-indent: -99999px;
}


.myButtonLink1:hover, .myButtonLink2:hover, .myButtonLink3:hover , .myButtonLink4:hover, .myButtonLink5:hover{
	background-position: 0 0;
}

.main-button-selected
{
	background-position: 0 0; 
	
}

a.tip2 {
  position: relative;
  text-decoration: none;
}
a.tip2 span {display: none;}
a.tip2:hover span {
  display: block;
  position: absolute; 
  padding: .5em;
  content: attr(title);
  min-width : 145px;
  max-width:200px;
  text-align: center;
  width: auto;
  height: auto;
 /* white-space: nowrap;*/
  top: -32px;
  left:63px;
  background: rgba(0,0,0,.8);
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;    
  color: #fff;
  font-size: .86em;
}
a.tip2:hover span:left {
  position: absolute;
  display: block;
  max-width:150px;
  content: "";  
  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom: -16px;
  left:1em; 
}

select {
    padding:6px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	background: url('../images/select-box-bg.png') repeat-x 0 0; 
	background-color:#1d2027;
    color:#fff;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	height:27px;
	width:200px;
	font-size:12px;
	
}

.loading{
  
    /*display: block;
    width: 30px;
    margin: auto;
	padding-top: 50%;*/
}

.dimBackground{

background: rgba(0,0,0,.5) no-repeat ;
background-image:url(../images/Loading-bar.gif);
background-repeat:no-repeat;
background-position:top left; 
width:100%;
height:100%;
position:fixed;
left:0;
top:0;
z-index:999;	
	
}


.row{
	border-right:2px solid #34353a;
	border-bottom:2px solid #34353a;
	
}

.firstrow{
	/*border-top:2px solid #34353a;*/
	/*border-right:2px solid #34353a;*/
	border-bottom:2px solid #34353a;
	
}



.firstColumn
{
	border-left:2px solid #34353a;
	
}

.listWrapper{
	
	background: #fefefe;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZWRlZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fefefe 0%, #dedede 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#dedede));
	background: -webkit-linear-gradient(top,  #fefefe 0%,#dedede 100%);
	background: -o-linear-gradient(top,  #fefefe 0%,#dedede 100%);
	background: -ms-linear-gradient(top,  #fefefe 0%,#dedede 100%);
	background: linear-gradient(to bottom,  #fefefe 0%,#dedede 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dedede',GradientType=0 );
	
	/*width:600px;
	background: -moz-linear-gradient(center top , #FFFFFF 0px, #DDDDDD 100%) repeat scroll 0 0 transparent;*/
	/*height:50px;
	background-image:url(../images/login-bg.png);*/
	padding:5px;
	/*padding-top:20px;
	
	padding-bottom:20px;*/
	margin:10px;
	-moz-border-radius: 8px;
     border-radius: 8px;
	
	-moz-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	vertical-align: middle;
	color:#333;
	text-shadow:none;
	list-style-position:inside;
    /*list-style-image:url('img/Earth-icon.png');*/
	list-style: none;
	cursor:move;
	padding-left:20px;
}

.listWrapper img{
   padding:10px;
   width:60px;
   vertical-align:middle
   
}


.listWrapper:hover{
	
    /* background-image:url(../images/side-hover-bg.png);*/
	/*background: #ebebeb;

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMWMxYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ebebeb 0%, #c1c1c1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#c1c1c1));
background: -webkit-linear-gradient(top,  #ebebeb 0%,#c1c1c1 100%);
background: -o-linear-gradient(top,  #ebebeb 0%,#c1c1c1 100%);
background: -ms-linear-gradient(top,  #ebebeb 0%,#c1c1c1 100%);
background: linear-gradient(to bottom,  #ebebeb 0%,#c1c1c1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#c1c1c1',GradientType=0 );
*/

	 color:#fff;
	 background-image:url(../images/drang-handler);
	 background-color:#c2c2c2;
	 background-repeat:no-repeat;
	 
	 
}

.btnGrey{
	background: #b3b6bf;
	background: url(data:image/svg+xml;			base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzYjZiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTlkYTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #b3b6bf 0%, #999da9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3b6bf), color-stop(100%,#999da9));
background: -webkit-linear-gradient(top,  #b3b6bf 0%,#999da9 100%);
background: -o-linear-gradient(top,  #b3b6bf 0%,#999da9 100%);
background: -ms-linear-gradient(top,  #b3b6bf 0%,#999da9 100%);
background: linear-gradient(to bottom,  #b3b6bf 0%,#999da9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b6bf', endColorstr='#999da9',GradientType=0 );
	
		-moz-border-radius: 3px;
     border-radius: 3px;
	 /*box-shadow:0 1px 0 #EEEEEE inset, 0 1px 0 #FFFFFF;*/
	 color:#FFF;
	 cursor:pointer;
	 margin:5px;
	height:26px;
	width:100px;
	
	border:1px solid #999da9;
}

.btnBlue{
background: #009ade;

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWFkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTc3YzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  #009ade 0%, #0177c0 100%);

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009ade), color-stop(100%,#0177c0));

background: -webkit-linear-gradient(top,  #009ade 0%,#0177c0 100%);

background: -o-linear-gradient(top,  #009ade 0%,#0177c0 100%);

background: -ms-linear-gradient(top,  #009ade 0%,#0177c0 100%);

background: linear-gradient(to bottom,  #009ade 0%,#0177c0 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ade', endColorstr='#0177c0',GradientType=0 );

		-moz-border-radius: 3px;
     border-radius: 3px;
	 /*box-shadow:0 1px 0 #EEEEEE inset, 0 1px 0 #FFFFFF;*/
	 color:#FFF;
	 cursor:pointer;
	 margin:5px;
	height:26px;
	width:100px;
	
	border:0px solid #999da9;
	
}

.edit img, .delete img{
  	
	 margin:5px;
}


#input-left{
   width:60%;
   float:left;	
	
}
#input-right{
	
   width : 40%;
   float:left;	
}

.input-label{
   margin:5px;	
   width : 50px;
   display: block;	
   float:left;
}

.input-field{
  float:left;	
   margin:5px;	
   width : 250px;
}

#sortable-container{
  float: left; 
 
  width: 100%;
  -moz-border-radius: 8px 8px 8px 8px;
     border-radius: 8px 8px 8px 8px;
}

.spacer
{
    border-top:solid 1px #dddddd;
    border-bottom:solid 1px #f9f9f9;
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
   	
}

#input-container{
	
   -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.1);
	box-shadow:2px 2px 5px rgba(0,0,0,0.1);
  
	background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #CDCDCD;
	-moz-border-radius: 3px 3px 3px 3px;
     border-radius: 3px 3px 3px 3px;
	
	 text-shadow:none;
	 padding:5px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
	
}

.selects  {position:relative}
.selects:after {
	background: url('../images/select-box-arrow.png') repeat-x 0 0; 
   
}
.selects:before {
    content:'';
	padding:0;
    right:6px;
    width:20px; height:25px;
    background: url("../images/select-box-arrow2.png") no-repeat scroll 0 0 transparent;
    position:absolute;
    pointer-events:none;
    display:block;
	top:-5px;
}​
